snippet t "A simple HTML tag" b
<${1:div}>
</${1/(\w+).*/$1/}>
endsnippet

snippet it "A simple inline HTML tag" b
<${1:p}></${1/(\w+).*/$1/}>
endsnippet

snippet = "Output variables"
<%= $1 %>
endsnippet

snippet cf "Content for block" b
<% content_for :${1:block_name} do %>${2: }<% end %>
endsnippet

snippet % "Expand to <% %>"
<% $1 %>
endsnippet
